.course-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh; /* Altura completa de la ventana */
    background-color: #fff; /* Color de fondo para la página */
  }
  
  .course-details {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 300px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .course-details:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .course-details h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .course-details p {
    font-size: 1em;
    color: #666;
  }
  
  .course-details button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .course-details button:hover {
    background-color: #0056b3;
  }
  
  .course-details p.message {
    margin-top: 10px;
    font-size: 0.9em;
    color: #dc3545; /* Color rojo para mensajes de error */
  }
  