@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-libre_franklin: "Libre Franklin", sans-serif;
}

body {
    font-family: var(--font-libre_franklin), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-libre_franklin), sans-serif;
}
